/* Banner.css */
.banner-container {
    display: flex;
    align-items: center;
}

.banner-image {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    margin-right: 20px; /* Adjust the margin as needed */
}

.specialFont {
    font-family: 'Knights_Quest', sans-serif; /* Replace 'YourSpecialFont' with your actual font name */
}

/* customStyle.css */

.text-container {
    background-color: #5c2d0c; /* SaddleBrown - adjust as needed */
    border-radius: 10px; /* Border radius for rounded corners */
    padding: 20px; /* Adjust padding as needed */
    position: relative;
}
    /* Metallic gold border with a pencil-like style */
.text-container::before {
      content: '';
      position: absolute;
      top: -5px; /* Adjust to position the outline inside the container */
      left: -5px; /* Adjust to position the outline inside the container */
      right: -5px; /* Adjust to position the outline inside the container */
      bottom: -5px; /* Adjust to position the outline inside the container */
      border: 3px solid #ffd700; /* Gold - adjust as needed */
      border-radius: 12px; /* Adjust to match container's border radius */
    /* Drop shadow for a downward-seated appearance */
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5); /* Adjust as needed */
  }
  
  /* Additional styling for the text, adjust as needed */
  .text-container p {
    font-size: 18px;
    color: #333;
    /* Add more styles as needed */
  }
  
  .musicCover {
    border-radius: 10%;
  }
  
  .playButton {
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
  }
  
  .subTitle {
    margin-top: -1em;
    color: #4f4f4f;
  }
  
  .time {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: #828282;
    font-size: smaller;
  }
  
  .timeline {
    width: 80%;
    background-color: #27ae60;
  }
  
  input[type="range"] {
    background-color: #27ae60;
  }
  
/* Navigation Box */
.navigation-container {
  display: flex;
}

.navigation-box {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.navigation-box ul {
  list-style: none;
  padding: 0;
}

.navigation-box li {
  margin-bottom: 10px;
}

.navigation-box button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.navigation-box button.active {
  font-weight: bold;
  color: #333; /* Active item color */
}

/* Scrollable Sections */
.scrollable-sections {
  margin-left: 150px; /* Adjust as needed */
}

.scroll-section {
  padding: 20px;
  margin: 50px 0;
  border: 1px solid #ccc;
}

/* Additional styling for section content */
.scroll-section h2 {
  color: #333; /* Section title color */
}


  @media (max-width: 900px) {
    .component {
      width: 50%;
    }
  }